@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600&display=swap');

.header {
    display: flex;
    flex-direction: row;
    background-color: #FBEEEE;
    justify-content: center;
    align-items: center;
    padding: 15px;
    flex-wrap: wrap;
}

.header-font {
    font-family: 'Montserrat' !important;
    color: #565656;
    font-weight: 500;
    cursor: pointer;
    user-select: none;
}

.header-font:hover {
    text-decoration: underline;
}

.button1 {
    font-family: 'Montserrat' !important;
    font-size: 16px;
    text-transform: none !important;
    border-color: #3851A2 !important;
    color: #3851A2 !important;
    background-color: #fff !important;
}

.button2 {
    font-family: 'Montserrat' !important;
    font-size: 16px;
    text-transform: none !important;
    background-color: #E8505E !important;
}

.button-container {
    margin-left: 20px;
    width: '100%';
}

.dropdown-1-title {
    color: #fff;
    font-weight: 600;
    font-family: 'Barlow';
    font-size: 18px !important;
}

.dropdown-1 {
    color: #fff;
    font-weight: 400 !important;
    font-family: 'Barlow';
}

.dropdown-overview {
    font-size: 13px !important;
    color: #fff;
}

.dropdown-overview2 {
    font-size: 14px !important;
    color: #fff;
    margin-top: 10px !important;
}