@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600&display=swap');

.container-1 {
    background-color: #FBEEEE;
}

.container-2 {
    background-color: #FBEEEE;
    padding: 70px 0px 40px 0px;
    position: relative;
}

.container-3 {
    background-color: #fff;
    padding: 100px;
}

.container-4 {
    background-color: #ECECEC;
    padding-top: 40px;
    justify-content: center;
    padding-bottom: 40px;
}

.container-5 {
    background-color: #fff;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 50px;
}

.container-6 {
    background-color: #E8505E;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 20px;
}

.image-subcontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-top: 30px;
}

.slide-content {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
}

.slide-text {
    font-size: 40px !important;
    white-space: pre-line;
    font-weight: 700 !important;
    font-family: 'Barlow' !important;
}

.dot-color {
    color: #E8505E;
}

.badge {
    background-color: #D5FDAD;
    padding: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 10px !important;
}

.badge-title {
    font-size: 35px !important;
    font-family: 'Barlow' !important;
    font-weight: 600 !important;
    line-height: 45px !important;
    font-size: 16px;
    margin-top: 60px !important;
}

.badge-desc {
    font-family: 'Barlow' !important;
    line-height: 15px !important;
    margin-top: 10% !important;
    font-size: 14px !important;
}

.card {
    border: 1px solid #000000;
    height: 270px;
    width: 230px;
    padding: 10px;
    position: relative;
}

.card:hover {
    background-color: #E8505E;
}

.card-title {
    font-size: 16px !important;
    font-weight: 600 !important;
    font-family: 'Barlow' !important;
}

.card-desc {
    font-size: 14px !important;
    font-weight: 400 !important;
    font-family: 'Barlow' !important;
}

.card-container {
    display: flex;
    justify-content: center;
}

.image-wrapper {
    width: 270px;
    height: 300px;
    border: 1px solid #000000;
    border-radius: 5px;
    margin-top: 100px;
    position: relative;
}

.bounded-image {
    position: absolute;
    transform: translate(16%, -28.5%);
}

.arrow-container {
    background-color: #E8505E;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px 20px;
    align-items: center;
    display: flex;
    color: white;
}

.card:hover .arrow-container {
    background-color: white;
    color: #000;
}

.image {
    width: 100%;
}

.image-container {
    position: relative;
}

.sub-image {
    position: absolute;
    bottom: 0;
    right: 0;
}

.sub-image-2 {
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 20px;
    padding-right: 40px;
}

.summary-title {
    font-weight: 600 !important;
    font-family: 'Barlow' !important;
    font-size: 25px !important;
    margin-bottom: 20px !important;
}

.overlay-text-title {
    position: absolute;
    padding: 10px;
    font-weight: 600 !important;
    font-family: 'Barlow';
    width: 70%;
    font-size: 14px !important;
    padding: 50px;
}

.overlay-text-title-2 {
    position: absolute;
    padding: 10px;
    font-weight: 600 !important;
    font-family: 'Barlow';
    width: 70%;
    font-size: 14px !important;
    padding: 50px;
    top: 14%;
}

.overlay-text-desc {
    position: absolute;
    padding: 10px;
    width: 65%;
    font-size: 14px !important;
    padding: 50px;
    top: 12%;
}

.overlay-text-desc-2 {
    position: absolute;
    padding: 10px;
    top: 20%;
    width: 55%;
    font-size: 14px !important;
    padding: 50px;
}

.eclipse {
    width: 1%;
    height: 1%;
}

.ellipse-container {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 20px;
}